In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('../data/c4_general_cafeteria.csv', encoding='cp949')
df

/var/folders/vm/5qmxs2qx4jqfzfp5dmt_3x900000gn/T/ipykernel_8596/2206080261.py:1: DtypeWarning: Columns (17,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/c4_general_cafeteria.csv', encoding='cp949')

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,4241000,4241000-101-2023-00075,2023-08-02,NaN,1,영업/정상,1,...,0,NaN,0,0,N,25.12,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,4241000,4241000-101-2023-00076,2023-08-17,NaN,1,영업/정상,1,...,0,NaN,0,0,N,120.00,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,4241000,4241000-101-2023-00077,2023-08-25,NaN,1,영업/정상,1,...,0,NaN,0,0,N,23.52,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,4241000,4241000-101-2023-00069,2023-07-14,NaN,1,영업/정상,1,...,0,NaN,0,0,N,25.00,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,4241000,4241000-101-2023-00064,2023-07-11,NaN,1,영업/정상,1,...,0,NaN,0,0,N,28.49,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92436,92437,일반음식점,07_24_04_P,4351000,4351000-101-2023-00127,2023-09-22,NaN,3,폐업,2,...,0,NaN,0,0,N,9.00,NaN,NaN,NaN,NaN
92437,92438,일반음식점,07_24_04_P,4351000,4351000-101-2023-00128,2023-09-22,NaN,3,폐업,2,...,0,NaN,0,0,N,9.00,NaN,NaN,NaN,NaN
92438,92439,일반음식점,07_24_04_P,4351000,4351000-101-2023-00129,2023-09-22,NaN,3,폐업,2,...,0,NaN,0,0,N,9.00,NaN,NaN,NaN,NaN
92439,92440,일반음식점,07_24_04_P,4351000,4351000-101-2023-00130,2023-09-22,NaN,3,폐업,2,...,0,NaN,0,0,N,9.00,NaN,NaN,NaN,NaN
92440,92441,일반음식점,07_24_04_P,4351000,4351000-101-2023-00131,2023-09-22,NaN,3,폐업,2,...,0,NaN,0,0,N,9.00,NaN,NaN,NaN,NaN